body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEE;
    flex-direction: column;
}

#gameArea {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: black;
    height: 70vh; /* Adjusted for larger buttons */
}

.dot {
    position: absolute;
    background-color: #FFF;
    width: 20px;
    height: 20px;
}

.food {
    position: absolute;
    background-color: #F00;
    width: 20px;
    height: 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 20px;
}

.controller {
    width: 100vw;
    height: 30vh; /* Adjusted for larger buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.horizontal-controls {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

button {
    padding: 20px; /* Increase as needed */
    font-size: 24px; /* Increase as needed */
    width: 25vw; /* Increase as needed */
    max-width: 150px; /* Increase as needed */
}
